#title{
    text-align: center;
    font-family: cursive;
}
body{
    
}
#nb{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}
#nbi{
    float: left;
     
  
}



#nbi a{
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: normal;
    border-right: 1px solid #FFFFFF;
}

#nbi a:hover{
    background-color: #000;
    transition-duration: 1s;
}
.active{
    background-color: #000;
}


.discord{
    float: right;
    border: 5px solid;
    border-color: #7289DA;
    border-radius: 15px;
    background-color: #2C2F33;
    color: white;
    padding: 5px;
    width:inherit;
    margin: 20px;
    text-align: center;
    
}


#DB{
    height: 50px;
    width: 50px;
    font-size: 50px;
    text-align: center;
    color: #7289DA;
    background-color: transparent;
    border-color: transparent;
    /* what's your goal? like what are u tryna do? 
    also i searched up some bot's websites and yggdrasil's is BOMB
    https://ygg.fun/
    */
}
#DB a:hover{
    color:#fff;
}
#center{
    text-align: center;
}
/*button hover thingy*/
.ab{
    display:inline-block;
    border-radius: 10px;
    background-color: transparent;
    border:none;
    color:#fff;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: inherit;
    transition: all 0.5s;
    margin: 10px;
    height: inherit;
    
    
}

.ab span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.ab span:after{
    content:"Join now!";
    text-transform: uppercase;
    position: absolute;
    font-size: 35px;
    opacity: 0;
    top: 0px;
    right: -30px;
    transition: 0.5s;
    color: #7289DA;
    
}
.ab:hover span{
    padding-right: 200px;
}
.ab:hover span:after{
    opacity: 1;
    right: 0;

}
/*hover thingy end*/

#bodydiv{
    text-align:center;
    background-color: #d9d9d9;
    color: white;
    overflow: auto;
    border-radius: 25px;
    word-wrap: break-word;
    padding: 10px;

    
}
.Title{
    color: black;
    
}
#info{
    color: black;
    font-size: 20px;
    text-align: left;
}
#submit{
    border:4px solid #33ccff;
    border-radius: 20px;
}
#submit:hover{
    background-color: #33ccff;
    transition-duration: 1s;
}